.inner {
    width: 100%;
    height: 100%;
}

.inner img {
    height: 100%;
    transition: all 0.5s ease;
}

.inner:hover img {
    transform: scale(1.25);
}

.container-img-main {
    width: 18rem;
    height: 90%;
    transition: all 0.5s ease;
}

.container-img-main:hover {
    transform: translateY(-10px);
}