body {
    background-image: linear-gradient(to right, rgba(0, 226, 123,1),rgba(0, 166, 190,1) 97.01953125%);
    background-size: 100%;
    padding: 50px;
    font-size: 20px;
}
table {
    width: 50%;
    margin: 10px auto;
    text-align: center;
    border-collapse: collapse;
}
th, td {
    border: 3px solid #000;
    transition: 0.5s;
}
table #age {
    padding: 10px 15px;
}
#email {
    padding: 10px 110px;
}
#name {
    padding: 10px 50px;
}
table #picture {
    padding: 10px 60px;
}
ion-icon {
    width: 150px;
    height: 150px;
}
ion-icon:hover {
    animation: icon 7s infinite;
}
td:hover {
    background-color: orange;
}
.temphover:hover {
    color:dodgerblue;
}
th:hover {
    background-color: blueviolet;
    color: #fff;
}
@keyframes icon {
    0%{color: #4FC3F7;}
    10%{color: #29B6F6;}
    20%{color: #03A9F4;}
    30%{color: #1E88E5;}
    40%{color: #1976D2;}
    50%{color: #1565C0;}
    60%{color: #1976D2;}
    70%{color: #1E88E5;}
    80%{color: #03A9F4;}
    90%{color: #29B6F6;}
    100%{color: #4FC3F7;}
}