body {
    background-image: linear-gradient(90deg, rgba(243, 72, 104,1) 20.5625%,rgba(242, 71, 104,1) 20.5625%,rgba(158, 0, 236,1) 80.5625%);
    background-size: 100%;
}
.total {
    width: 22%;
    height: 500px;
    background-image: linear-gradient(114.60586827354746deg, rgba(48, 245, 251,1) 4.927083333333334%,rgba(23, 142, 203,1) 97.84374999999999%);
    margin: 50px auto;
    border: 3px groove #000;
    border-radius: 10px;
    text-align: center;
    outline: 5px solid rgba(32, 27, 27, 0.692);
    box-shadow: 0 0 20px #000;
    transition: all 0.5s ease;
}
#topdisplay{
    font-size: 30px;
    color: #ccc;
    width: 99%;
    height: 50px;
    text-align: left;
    border: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #4CAF50;
}
#display {
    font-size: 60px;
    background-color: #4CAF50;
    border: none;
    width: 99%;
    height: 70px;
    text-align: right;
}
.button-box {
    margin: 15px 4px;
}
.btn {
    font-size: 40px;
    width: 90px;
    height: 80px;
    margin: 4px;
    border-radius: 30px;
}
.cbtn:hover , .cbtn {
    background-color: red;
    color: #fff;
}
.mbtn:hover , .mbtn {
    background-color: tomato;
    color: #fff;
}
.mbtn:hover {
    color :#000;
    transform: scale(1.05) translateY(-2px);
}
.cbtn:hover {
    color :#000;
    transform: scale(1.05) translateY(-2px);
}

.btn:hover:not(.mbtn,.cbtn) {
    background-color: blue;
    color: #fff;
    transform: scale(1.05) translateY(-2px);
}
.btn {
    transition: 0.5s;
}
.btn:active {
    background-color: blueviolet;
}